*{
    margin: 0;
    padding:0;
}

body{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}

.header{
    /* position: fixed; */
    height: 200px;
    background-color: pink;
}

.wrap{
    justify-content: space-between;
    background-color: darkgray;
    display: flex;
}

.left-wrap{
    background-color: darkcyan;
    width: 300px;
    height: 200px;
}

.right-wrap{
    background-color: darkgoldenrod;
}

.footer{
    background-color: coral;
    height: 200px;
}

.content_wrap{
    display: flex;
    margin:30px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: darkgreen;
    margin: 10px;
}