.box{
    width: 40%;
    height: 40%;
    background-color:white;
    margin: 5%;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.img_box{
    width: 100%;
    margin: 2%;
    height: 70%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;
}

.image{
    max-width: 100%; 
    height:150px; 
}