{% extends 'layout.html'%}

{% load static %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/index.css' %}"/>
{% endblock %}

{% block header%}
    
{% endblock %}

{% block content %}

    {% for prod_num, image in products %}

        <a href="{% url 'sub' prod_num%}">
            <div class='box'>
                <img src="{{image}}" alt="image" width="200" height="200">                        
            </div>
        </a>

    {% endfor %}


{% endblock %}