{% extends 'layout.html'%}

{% block title %}
    Index
{% endblock title %}

{% block content %}

            {% block right_side %}
                {% comment %} 
                <div class="content_wrap">

                    {% for product in products %}
                        <div class='box'>
                            {{product.name}}
                        </div>
                    {% endfor %}

                    {% for answer in answers %}
                        {{answer}}
                    {% endfor %}

                </div>
                {% endcomment %}
            {% endblock right_side %}

{% endblock content %}