{% load static %}
<link rel="stylesheet" href="{% static 'main_content.css' %}" type="text/css">

<div>
    <p>
        국내 신종 코로나바이러스 감염증(코로나19)의 급격한 확산세는 한풀 꺾였지만, 
        전국 곳곳에서 산발적 감염이 이어지면서 12일에도 신규 확진자는 100명대로 집계됐다.

중앙방역대책본부(방대본)는 이날 0시 기준으로 코로나19 신규 확진자가 136명 늘어 누적 2만2천55명이라고 밝혔다. 
일일 신규 확진자는 이달 3일부터 10일 연속 100명대를 유지했지만 확진자 규모는 전날(176명)보다 40명 줄어 100명대 초반에 가까워졌다. 
그러나 서울시내 대형 병원 외에 감염병 취약시설은 요양병원과 노인시설 등지에서 확진자가 잇따르면서 불안한 국면이 계속되고 있다. 
정부가 하루 뒤인 13일 수도권의 사회적 거리두기 ‘2.5단계’ 조정 방안을 확정할 예정인 가운데 신규 확진자가 근 한 달째 의료체계와 방역망이 감당 가능한 수준인 ‘100명 미만’으로 떨어지지 않고 있어 막판 고심이 깊어지고 있다.

신규 확진자는 수도권 유행이 발생한 이후 지난달 27일 441명으로 정점을 찍었으며, 
그 뒤로는 371명→323명→299명→248명→235명→267명→195명→198명→168명→167명→119명으로 감소세를 보였다.
 8일부터는 136명→156명→155명→176명으로 증가세를 보이다 이날 136명으로 다시 감소했다.
  신규 확진자는 지난달 14일(103명) 처음으로 세자릿수로 올라선 후 30일 연속 세자릿수를 유지하고 있다.
   이날 신규 확진자 136명의 감염 경로를 보면 해외유입 18명을 제외한 118명이 지역에서 발생했다. 
   지역별로는 서울 50명, 경기 28명, 인천 8명 등 수도권에서만 86명이 새로 확진됐다. 
   수도권 내 확진자는 지난 10일(98명)에 이어 다시 100명 아래로 내려왔다. 
   수도권 외 지역에서는 대전 7명, 충남 6명, 부산 4명, 대구·광주·강원 각 3명, 경북·경남 각 2명, 제주·울산 각 1명 등이다.

    </p>
    {% comment %} {{answer}} {% endcomment %}
    {% for answers in answer %}
        {{answers}}
    {% endfor %}
</div>