<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sub.css' %}"/>
    <title>Document</title>
</head>
<body>

    <div class="header">
        <a href="{% url 'index' %}">LOGO</a>
        <h1>인공지능 픽</h1>
    </div>

    <div class="content">
    서브페이지
        {% for product in products %}
            <a href="#">
                <div class='box'>
                    {{product.name}}
                </div>
            </a>
        {% endfor %}                    

    </div>  

    <div class="footer">
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </div>

</body>
</html>