<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sub.css' %}"/>
    <title>Document</title>
</head>
<body>

    <div class="header">
        {% block header %} {% include 'header.html' %} {% endblock header %}
    </div>

    <div class="wrap">

    {% comment %} 메뉴바 {% endcomment %}
        <div class="left-wrap">
            <form action="{% url 'check' %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="check" value="Woman">
                    <label>Woman</label>
                </input><br>
                <input type="checkbox" name="check" value="Man">
                    <label>Man</label>
                </input><br>
                <br>
                <input type="checkbox" name="check" value="top">
                    <label>top</label>
                </input><br>
                <input type="checkbox" name="check" value="bottoms">
                    <label>bottoms</label>
                </input><br>
                <input type="checkbox" name="check" value="etc">
                    <label>etc</label>
                </input><br>
                <button type='submit'>SEARCH</button>
            </form>
        </div>

    {% comment %} 메인콘텐츠 {% endcomment %}
        <div class="right-wrap">
                <div class="content_wrap">
                        
                        <h1>Sub Page</h1>

                </div>
        </div>
    </div>  

    <div class="footer">
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </div>

    {% block extra_body %}
    {% endblock %}

</body>
</html>