*{
    margin: 0;
    padding:0;
}

body{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column ;    
}

.header{
    display: flex;
    height: 200px;
    background-color: pink;
}

.wrap{
    display: flex;    
}

.menu_bar{
    width: 400px;
    background-color: lightblue;
}

.content{
    display: flex;
}

.target_container{
    display: flex;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.sim_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sim_title{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sim_contents{
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}
.box{
    width: 150px;
    height: 150px;
    background-color: darkgreen;
    margin: 10px;
}

.footer{
    background-color: coral;
    height: 200px;
}
